.carousel-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .shaded-bg {
    display: block;
    background-color: rgba(0, 0, 0, .7);
    height: 100%;
    width: 100%;
  }
}

.view-all {
  text-align: center;
  margin-bottom: 50px;
  font-size: $font-size-body-small;

  .link-arrow {
    color: $white;
  }
}

.quote {
  position: absolute;
  top: 170px;
  left: 50%;
  transform: translateX(-50%);
  opacity: .25;
  color: $white;

  @include media-breakpoint-down(md) {
    top: 135px;
  }

  @include media-breakpoint-down(sm) {
    top: 115px;
  }

  .quote-mark {
    height: 292px;
    width: 600px;

    @include media-breakpoint-down(md) {
      height: 219px;
      width: 450px;
    }

    @include media-breakpoint-down(sm) {
      height: 160px;
      width: 327px;
    }

    @include media-breakpoint-down(sm) {
      height: 130px;
      width: 300px;
    }
  }
}

.nav-arrows {
  cursor: pointer;
  color: $white;
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;

  .next,
  .prev {
    .arrow-icon {
      display: block;
      position: relative;
      height: 50px;

      &:hover {
        svg {
          color: $brand-secondary;
        }
      }
    }

    .arrow-hex {
      height: 50px;
      width: 50px;
      color: $brand-primary;
    }

    .bar {
      position: absolute;
      top: 50%;
      left: 50%;
      content: "";
      height: 3px;
      width: 15px;
      display: block;
      background-color: $black;
    }
  }

  .prev {
    .bar {
      margin-top: -6px;
      transform-origin: left;
      transform: rotate(-45deg) translate(-50%, 0);

      &.bar-bottom {
        margin-top: 3px;
        transform: rotate(45deg) translate(-50%, 0);
      }
    }
  }

  .next {
    .bar {
      transform: rotate(45deg) translate(-50%, 0);

      &.bar-bottom {
        margin-top: -2px;
        transform: rotate(-45deg) translate(-50%, 0);
      }
    }
  }
}

.slick-dots {
  position: absolute;
  top: 520px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding-left: 0;
  list-style: none;

  @include media-breakpoint-down(md) {
    display: none;
  }

  li {
    height: auto;
    width: auto;
    padding: 10px;
    display: inline-block;

    button {
      font-size: 0;
      border-radius: 50%;
      height: 0;
      width: 0;
      padding: 3px;
      background-color: $brand-primary;
      border: solid 4px $brand-primary;

      @include media-breakpoint-down(sm) {
        border: solid 3px $brand-primary;
      }

      &::before {
        content: '';
      }
    }
  }

  .slick-active {
    button {
      background-color: $white;
      border: solid 4px $white;

      @include media-breakpoint-down(sm) {
        border: solid 3px $white;
      }

      &::before {
        content: '';
      }
    }
  }
}
