.carousel-image {
  margin-bottom: -150px;
  z-index: 99;

  @include media-breakpoint-down(md) {
    margin-bottom: -165px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: -185px;
  }

  .slide {
    height: 280px;
  }
}
