.carousel {
  padding: 200px 50px 20px;

  @include media-breakpoint-down(md) {
    padding: 165px 20px 20px;
  }

  @include media-breakpoint-down(sm) {
    padding: 150px 20px 20px;
  }
}

.slide-quote-content {
  display: flex;
  flex-direction: column;
  padding: 0 30px;

  @include media-breakpoint-down(sm) {
    padding: 0;
  }
}

.slide-quote {
  height: 230px;
  color: $white;
  text-align: center;
  font-size: $font-size-h1;
  font-family: $font-family-sans-serif;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 1px;
  position: relative;

  @include media-breakpoint-down(md) {
    font-size: $font-size-h3;
    height: 160px;
  }

  @include media-breakpoint-down(sm) {
    font-size: $font-size-h5;
    height: 120px;
  }

  @include media-breakpoint-down(xs) {
    height: 135px;
  }

  @media (max-width: 420px) {
    height: 210px;
  }
}

.quote-author {
  text-align: right;
  margin-right: 100px;

  @include media-breakpoint-down(sm) {
    margin-right: 50px;
  }

  @include media-breakpoint-down(xs) {
    margin-right: 0;
  }

  .author-name {
    font-weight: 600;
    line-height: 0.8;
  }
}
