.contact-form {
  padding: 50px;

  @include media-breakpoint-down(md) {
    padding: 30px;
  }

  @include media-breakpoint-down(xs) {
    padding: 30px 0;

    &.pitch-line-border {
      border: none;
    }
  }
}

.form-control {
  font-family: $font-family-sans-serif;
  height: 65px;
  margin-bottom: 15px;

  @include media-breakpoint-down(md) {
    margin-bottom: 10px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 0;
  }

  &.text-area {
    height: 100%;
    padding-top: 22px;
    padding-bottom: 13px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }
}
