footer {
  padding-bottom: 50px;
  color: $white;
  border-bottom: solid 15px $white;
}

.social-wrapper {
  background-color: $brand-primary;
  text-align: center;
  padding: 13px 20px 10px;
}

.footer-bottom {
  padding-top: 50px;
  padding-bottom: 50px;
}

.navbar-brand-footer {
  margin-bottom: 50px;

  &.footer_pitch-line {
    position: relative;

    &::before {
      right: 0;
      content: "";
      position: absolute;
      bottom: -30px;
      margin-right: 50px;
      border-top: $pitch-line-weight solid $white;
      width: 200em;
    }
  }

  svg {
    width: 300px;
    height: 68px;
  }
}

.footer-contact {
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: $brand-primary;

  &.tel-link {
    margin-top: 10px;
  }

  &:hover {
    text-decoration: none;
    color: $brand-secondary;
  }

  svg {
    height: 30px;
    color: $white;
    width: 30px;
    display: block;
    margin-right: 20px;

    @include media-breakpoint-down(md) {
      height: 30px;
    }
  }
}

.footer-nav {
  .navbar-nav {
    margin-top: 37px;
    border-right: solid $pitch-line-weight $white;
    padding-right: 20px;
  }

  .nav-item {
    text-align: right;

    .nav-link {
      &:hover {
        color: $brand-primary;
      }
    }
  }
}
