.navbar {
  width: 100%;
  background-color: $black;
  color: $white;
  padding: 0;
  text-align: center;

  .navbar-toggler {
    background-color: $brand-primary;
    height: 100%;
    height: 50px;
    width: 50px;
    right: 0;
    cursor: pointer;
    z-index: 2;

    .bar {
      background: $black;
    }
  }

  .header-logo {
    height: 65px;
    display: flex;
    align-items: center;
    padding-top: 3px;

    @include media-breakpoint-down(lg) {
      height: 50px;
    }
  }

  .social-header-wrapper {
    padding: 15px 20px 5px;
    position: absolute;
    left: 0;

    @include media-breakpoint-down(lg) {
      padding-top: 13px;
    }
  }

  .navbar-brand {
    color: $white;
    padding-bottom: 0;
    margin-right: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    .main-icon {
      height: 40px;
      width: 50px;
    }
  }
}

.header-nav {
  &.navbar-wrapper {
    height: 100%;
    width: auto;
    z-index: 9;

    @include media-breakpoint-up(xl) {
      height: 65px;
      position: absolute;
      right: 0;
    }

    .navbar-nav {
      @include media-breakpoint-down(lg) {
        background-color: $brand-charcoal;
      }
    }

    .nav-item {
      text-align: center;
      position: relative;
      box-shadow: inset 0 0 0 0 $white;

      .nav-link {
        padding: 15px 25px;
        height: 100%;
        color: $white;
        transition: box-shadow 200ms ease-in-out;
        font-size: $font-size-nav;

        &.active {
          box-shadow: inset 0 -5px 0 0 $white;
        }

        @include media-breakpoint-down(lg) {
          padding: 20px;
        }

        @include media-breakpoint-up(xl) {
          display: flex;
          align-items: center;

          &:hover {
            box-shadow: inset 0 -5px 0 0 $white;
          }
        }
      }
    }

    .menu-contact {
      .nav-link {
        transition: box-shadow 200ms ease-in-out, background-color 200ms ease-in-out;
        background-color: $brand-primary;
        color: $black;

        @include media-breakpoint-up(md) {
          &:hover {
            background-color: $brand-secondary;
          }
        }
      }
    }
  }
}
