.hero {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::before {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 1;
    z-index: 0;
  }
}

.hero-home {
  min-height: calc(100vh - 120px);

  @include media-breakpoint-down(md) {
    min-height: 400px;
    height: auto;
  }

  .main-logo {
    height: 110px;
    width: 500px;
    padding-left: 70px;
    margin-left: 50%;
    transform: translateX(-50%);

    @include media-breakpoint-down(md) {
      padding-left: 55px;
      height: 80px;
      width: 400px;
    }

    @include media-breakpoint-down(sm) {
      padding-left: 45px;
      height: 60px;
      width: 300px;
    }

    @include media-breakpoint-down(xs) {
      padding-left: 35px;
    }
  }
}

.hero-page {
  height: calc(100vh - 60vh);

  @include media-breakpoint-down(md) {
    min-height: 250px;
    height: auto;
  }

  @include media-breakpoint-down(xs) {
    min-height: 200px;
    height: auto;
  }
}

.hero-content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include media-breakpoint-down(md) {
    top: 50%;
  }
}

.hero-content_title {
  margin-top: 10px;
  text-align: center;

  &--home {
    max-width: 540px;
    margin-bottom: 30px;
  }

  h2 {
    @include media-breakpoint-down(md) {
      font-size: $font-size-h3;
    }
  }
}

.hero-content_cta {
  margin-top: 25px;
  text-align: center;
}

.hero-content_pitch-line {
  &::before {
    right: 100%;
    margin-right: 1.5em;
  }

  &::after {
    left: 100%;
    margin-left: 1.5em;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 23px;
    border-top: $pitch-line-weight solid $white;
    width: 200em;

    @include media-breakpoint-down(md) {
      border-top: $pitch-line-weight-mobile solid $white;
      top: 17px;
    }

    @include media-breakpoint-down(sm) {
      top: 13px;
    }
  }

  &--hero {
    &::before,
    &::after {
      top: 160px;

      @include media-breakpoint-down(md) {
        top: 113px;
      }

      @include media-breakpoint-down(sm) {
        top: 107px;
        display: none;
      }
    }
  }
}
