.instagram-section {
  padding-top: 100px;
  padding-bottom: 100px;

  @include media-breakpoint-down(md) {
    padding-top: 70px;
  }

  .instagram-heading {
    margin-bottom: 50px;
  }

  .instagram-icon {
    color: $white;
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
    height: 65px;
    width: 65px;
    margin-bottom: 30px;
  }
}

.instagram-image {
  img {
    border: solid 15px $white;
    max-width: 100%;
    margin-bottom: 30px;

    @include media-breakpoint-down(md) {
      margin-bottom: 15px;
    }
  }
}

.instagram-cta {
  margin-top: 30px;
}
