.nav-item {
  text-align: center;

  .nav-link {
    z-index: 2;
    font-family: $font-family-nav;
    font-size: $font-size-nav;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $white;
    height: 100%;
    position: relative;
    transition: none;
  }
}
