.players-section {
  padding: 100px 0;

  @include media-breakpoint-down(sm) {
    padding: 70px 0;
  }
}

.player-profile {
  color: $white;
  margin-top: 160px;
  padding: 110px 50px 60px;
  position: relative;

  @include media-breakpoint-down(md) {
    margin-top: 150px;
    padding: 90px 20px 30px;
  }

  &__details {
    margin-top: 30px;
    padding: 30px 0;
    border-top: solid $brand-primary 2px;
    border-bottom: solid $brand-primary 2px;
    display: flex;
  }

  &__details-col {
    text-align: center;
    flex: 1 0 50%;
  }
}

.player {
  &__name,
  &__position {
    text-align: center;
  }

  &__name {
    @include media-breakpoint-down(md) {
      font-size: $font-size-h3;
    }
  }
}

.player-image {
  max-width: 280px;
  width: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;

  @include media-breakpoint-down(md) {
    max-width: 250px;
  }

  @include media-breakpoint-down(sm) {
    max-width: 200px;
  }

  &--profile {
    margin-top: -260px;
    max-width: 200px;

    @include media-breakpoint-down(md) {
      margin-top: -240px;
    }
  }
}
