.social-icons {
  margin-bottom: 0;
  display: flex;
  flex: 1 0 150px;
  width: 150px;
  justify-content: space-between;

  a {
    display: inline;
    transition: color 200ms ease-in-out;

    svg {
      color: $white;
    }

    &:hover {
      svg {
        color: $brand-primary;
      }
    }
  }

  &--bar {
    flex: 1 0 400px;
    width: 400px;
    margin-left: 50%;
    transform: translateX(-50%);

    @include media-breakpoint-down(sm) {
      flex: 1 0 300px;
      width: 300px;
    }

    li {
      padding-top: 5px;
    }

    a {
      svg {
        height: 30px;
        width: 30px;
        color: $black;

        @include media-breakpoint-down(md) {
          height: 30px;
          width: 30px;
        }
      }

      &:hover {
        svg {
          color: $brand-charcoal;
        }
      }
    }
  }
}
