.services-section {
  background-color: $brand-charcoal;
  border-top: 1px solid $gray;
  overflow: hidden;
}

.services-section_item {
  margin-top: 40px;
  min-height: 170px;

  h4 { padding-bottom: 10px; }
  p { font-size: 14px; }
}

.services-section_wrapper {
  &:nth-child(odd) {
    .services-section_item {
      padding-right: 10%;
      @include media-breakpoint-down(sm) {
        padding-right: 0;
      }
    }
  }

  &:nth-child(even) {
    .services-section_item {
      padding-left: 10%;
      @include media-breakpoint-down(sm) {
        padding-left: 0;
      }
    }
  }
}

.support-services_icons { position: relative; }

.icon-hex {
  position: absolute;
  height: 100px;
  width: 100px;
  color: $brand-primary;
  transform: rotate(22deg);
}

.services-section_wrapper:nth-child(4n) {
  .icon-hex {
    color: $brand-charcoal;
  }

  .support-icon {
    color: $brand-primary;
  }

  @include media-breakpoint-down(sm) {
    .icon-hex {
      color: $brand-primary;
    }

    .support-icon {
      color: $brand-charcoal;
    }
  }
}

.services-section_wrapper:nth-child(4n+3) {
  .icon-hex {
    color: $gray;
  }

  .support-icon {
    color: $brand-primary;
  }

  @include media-breakpoint-down(sm) {
    .icon-hex {
      color: $brand-primary;
    }

    .support-icon {
      color: $brand-charcoal;
    }
  }
}

.support-icon {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 35px;
  left: 35px;
}

.content-right {
  padding-top: 10px;
  padding-left: 120px;
}

.services-section_wrapper { background-color: $brand-charcoal; }

.services-section_wrapper:nth-child(4n+0) {
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 999em;
    top: 0;
    bottom: 0;
    right: -999em;
    background: $gray;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

.services-section_wrapper:nth-child(4n+1) {
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 999em;
    top: 0;
    bottom: 0;
    left: -999em;
    background: $gray;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

.services-section_wrapper:nth-child(4n+0),
.services-section_wrapper:nth-child(4n+1) {
  background-color: $gray;
}

@include media-breakpoint-down(sm) {
  .services-section_wrapper:nth-child(even) {
    background: $brand-charcoal;
  }
}

@include media-breakpoint-down(sm) {
  .services-section_wrapper:nth-child(odd) {
    background: $gray;

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 999em;
      top: 0;
      bottom: 0;
      left: -999em;
      background: $gray;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 999em;
      top: 0;
      bottom: 0;
      right: -999em;
      background: $gray;
    }
  }
}
