.the-content {
  text-align: center;

  h2 {
    margin-left: 50%;
    transform: translateX(-50%);
    line-height: 1;
    margin-bottom: 40px;
    position: relative;
    display: inline-block;

    &::before {
      right: 100%;
      margin-right: 10px;
    }

    &::after {
      left: 100%;
      margin-left: 10px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      border-top: 2px solid $brand-primary;
      width: 2em;
    }
  }
}
