.two-column-content-section {
  background-color: $brand-charcoal;
  padding-bottom: 80px;

  p {
    font-size: $font-size-body-small;
  }
}

.two-column-content-row {
  padding-top: 60px;
}

@include media-breakpoint-down(sm) {
  .two-column-content-row {
    padding-top: 30px;
  }
}

.two-column-content_image {
  min-height: 300px;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.two-column-content_pitch-line {
  padding-bottom: 30px;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;

  &::after {
    content: "";
    border-top: $pitch-line-weight solid $white;
    position: absolute;
    width: 200em;
    bottom: 0;

    @include media-breakpoint-down(sm) {
      border-top: $pitch-line-weight-mobile solid $white;
    }
  }
}

.two-column-content-item {
  height: 100%;
  padding-top: 40px;
}

.two-column-content-item_left {
  margin-right: 10%;
}

.two-column-content-item_right {
  margin-left: 10%;
}

@include media-breakpoint-down(sm) {
  .two-column-content-item_left {
    margin-right: 0;
  }

  .two-column-content-item_right {
    margin-left: 0;
  }
}

.content_cta {
  text-align: center;
  margin-top: 40px;
}
