.contact-section {
  padding: 100px;

  @include media-breakpoint-down(md) {
    padding: 70px;
  }

  @include media-breakpoint-down(xs) {
    padding: 70px 15px 25px;
  }

  .contact-content {
    text-align: center;
  }

  .tel-link {
    display: block;
    color: $brand-primary;
    font-size: $font-size-xl;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 40px;

    @include media-breakpoint-down(xs) {
      font-size: $font-size-h1;
    }

    .phone-icon {
      height: 40px;
      width: 40px;
      color: $white;
    }

    &:hover {
      color: $brand-secondary;
      text-decoration: none;
    }

    @include media-breakpoint-down(xs) {
      font-size: $font-size-h1;
      margin-bottom: 0;
    }
  }
}
