.btn {
  cursor: pointer;
  border: solid 2px $brand-primary;
  padding: 20px 85px;
  background-color: transparent;
  margin-left: 50%;
  transform: translateX(-50%);

  @include media-breakpoint-down(sm) {
    padding: 15px 50px;
  }

  &:hover {
    background-color: $brand-primary;
    color: $black;
  }
}
