.pitch-line-border {
  border: solid $pitch-line-weight $white;

  @include media-breakpoint-down(sm) {
    border: solid $pitch-line-weight-mobile $white;
  }
}

.pitch-line-border-top {
  border-top: solid $pitch-line-weight $white;

  @include media-breakpoint-down(sm) {
    border-top: solid $pitch-line-weight-mobile $white;
  }
}

.pitch-line-border-bottom {
  border-bottom: solid $pitch-line-weight $white;
}

.pitch-line-image {
  width: 100%;
  padding-bottom: 25px;
  border-bottom: solid $pitch-line-weight $white;
}

.pitch-line-heading {
  margin-left: 50%;
  transform: translateX(-50%);
  line-height: 1;
  margin-bottom: 40px;
  position: relative;
  display: inline-block;

  &::before {
    right: 100%;
    margin-right: 10px;
  }

  &::after {
    left: 100%;
    margin-left: 10px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    border-top: 2px solid $brand-primary;
    width: 2em;
  }
}

.pitch-line-heading_left {
  padding-left: 60px;
  display: inline-block;

  span {
    position: relative;
    display: inline-block;

    &::before {
      right: 100%;
      margin-right: 10px;
      content: "";
      position: absolute;
      top: 50%;
      border-top: 2px solid $brand-primary;
      width: 2em;
    }
  }
}

.triangle {
  position: relative;

  &::before {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 45px solid $white;

    @include media-breakpoint-down(sm) {
      top: -13px;
    }
  }
}

.triangle-bottom {
  &::after {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 45px solid $white;

    @include media-breakpoint-down(sm) {
      bottom: -13px;
    }
  }
}
