h1,
h2,
h3,
h4,
.alt-text {
  font-family: $font-family-headings;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $white;

  &.alt-text-lower {
    text-transform: lowercase;
  }

  &.alt-text-sentence {
    text-transform: none;
  }

  &.alt-text-small {
    font-size: $font-size-body-small;
  }
}

h1 {
  @include media-breakpoint-down(md) {
    font-size: $font-size-h1-tablet;
  }

  @include media-breakpoint-down(sm) {
    font-size: $font-size-h1-mobile;
  }
}

h2 {
  @include media-breakpoint-down(md) {
    font-size: $font-size-h1-tablet;
  }

  @include media-breakpoint-down(sm) {
    font-size: $font-size-h1-mobile;
  }
}

p {
  color: $white;
  line-height: 1.7;
  letter-spacing: 1px;
}

a {
  padding-bottom: 2px;
  transition: color 200ms ease-in-out;

  &:hover {
    color: $brand-primary;
    text-decoration: none;
  }
}
