$enable-flex:   true;
$border-radius: 0;

//Hamburger Icon
$bar-width: 1.2rem;
$bar-height: 3px;
$bar-spacing: 3px;
$hamburger-bar-color: #373a3c;

//Brand Colors
$brand-primary: #84fac1;
$brand-secondary: darken($brand-primary, 10%);
$brand-charcoal: #1b1b1b;
$gray: #6a6a6a;

$white: #fff;
$black: #000;

// Fonts
$font-family-sans-serif: 'Droid Sans', sans-serif;
$font-family-headings: 'Oswald', sans-serif;
$font-family-nav: $font-family-headings;
$font-family-base: $font-family-sans-serif;

$font-size-xl:                 46px;
$font-size-root:               18px;
$font-size-h1:                 35px;
$font-size-h1-tablet:          25px;
$font-size-h1-mobile:          18px;
$font-size-h2:                 28px;
$font-size-h3:                 26px;
$font-size-h4:                 22px;

$font-size-body-small:         14px;
$font-size-nav:                16px;
$font-size-btns:               $font-size-nav;
$font-size-small:              12px;

$headings-font-weight: 600;

$btn-font-weight: normal;

// Containers
$container-max-widths: (
  sm: 620px,
  md: 790px,
  lg: 980px,
  xl: 1100px
);

$pitch-line-weight: 15px;
$pitch-line-weight-mobile: 13px;
