// Probably best to leave this section alone and add your own overrides afterwards.

.sticky-top {
  top: 0;

  &::before,
  &::after {
    content: "";
    display: table;
  }
}

// Override classes for responsive menu
.navbar {
  background-color: $gray-lightest;
  width: 100%;

  @include media-breakpoint-up(sm) {
    .menu-center & { // Flexbox based centered menu.
      display: flex !important;
      justify-content: center;

      .nav {
        &.navbar-nav {
          display: flex;
        }
      }
    }
  }

  @include media-breakpoint-down(xs) {
    clear: both;

    .navbar-nav {
      width: 100%;

      .nav-item {
        float: none;

        & + .nav-item {
          margin-left: 0;
        }
      }

      .nav-link {
        text-align: center;
      }
    }
  }

  .dropdown-menu {
    @include media-breakpoint-down(xs) {
      float: none;
      position: relative;
    }

    padding: 0;
  }
}

.navbar-brand {
  z-index: 1;
}

.dropdown-header {
  h6 {
    padding-top: .425rem;
    padding-bottom: .425rem;
    margin-bottom: 0;
  }
}

// Helper class to center unknown width ul nav bar
.menu-center {
  .navbar-collapse {
    position: relative;

    .nav-link {
      text-align: center;
    }

    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .navbar-nav {
    margin: 0 auto;
  }
}

.menu-right {
  .navbar-nav {
    margin-left: auto;
  }

  .dropdown-menu {
    right: 0;
    left: auto;
  }
}

.navbar-toggler {
  float: right;
  padding: .75rem;
  display: block;
  right: .5rem;
  width: $bar-width * 2;

  .navbar-light & {
    background-image: none;
    border: 0;
  }

  &:focus {
    outline: 0;
  }

  .bar-wrapper {
    width: $bar-width;
    height: ($bar-height * 3 + $bar-spacing * 2);
    display: block;
    margin: 0 auto;
  }

  .bar {
    transition: top 250ms ease, transform 250ms ease 250ms, opacity 100ms ease 250ms;
    display: block;
    background: $hamburger-bar-color;
    width: $bar-width;
    height: $bar-height;
    position: relative;
    transform: translate3d(0, 0, 0);

    &:nth-child(1) {
      top: $bar-spacing + $bar-height;
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      top: $bar-spacing;
      opacity: 0;
    }

    &:nth-child(3) {
      top: 0;
      transform: rotate(-45deg);
    }
  }

  &.collapsed {
    .bar {
      transition: transform 250ms ease, top 250ms ease 250ms, opacity 100ms ease 250ms;

      &:nth-child(1) {
        top: 0;
        transform: rotate(0);
      }

      &:nth-child(2) {
        top: $bar-spacing;
        opacity: 1;
      }

      &:nth-child(3) {
        top: $bar-spacing * 2;
        transform: rotate(0);
      }
    }
  }
}
