html { height: 100%; }

body {
  &.footer-sticky { // Flexbox supported browsers only.
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    .wrapper {
      flex: 1 0 auto;
      width: 100%;
    }
  }

  &.no-fout {
    visibility: hidden;

    .wf-inactive &,
    .wf-active & {
      visibility: visible;
    }
  }
}

footer {
  background-color: $gray-lightest;
}

.form-group.required,
.checkbox.required {
  .form-control-label {
    &::after {
      content: "*";
      padding-left: 2px;
      color: $brand-danger;
    }
  }

  &.has-success {
    .form-control-label {
      &::after {
        color: $brand-success;
      }
    }
  }
}
